@{
	Layout = null;
	Guid uid = Guid.NewGuid();
}
<script type="text/javascript">

	$(function () {
		// debugger;
		
		$("#contentLayout-@uid").layout();

		$.get("@Url.Action("TabContent")",
			function (data) {
				// debugger;
				$("#contentLayout-@uid > .ui-layout-center").html(data);
			});
	});
	
</script>
<div id="contentLayout-@uid" style="background-color: lightgreen; height: 100%; overflow: hidden; padding: 0 10px;">
	<div class="ui-layout-north">
		Layout Content North
	</div>
	<div class="ui-layout-west">
		Layout Content West
	</div>
	<div class="ui-layout-center">
	</div>
	<div class="ui-layout-east">
		Layout Content East
	</div>
	<div class="ui-layout-south">
		Layout Content South
	</div>
</div>
