<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="All"
					propagateActivity="true">
				<listeners>
					<add name="traceListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel.Activation"
			switchValue="All"
			propagateActivity="true">
				<listeners>
					<add name="traceListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging"
					switchValue="All"
					propagateActivity="true">
				<listeners>
					<add name="traceListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="traceListener"
				type="System.Diagnostics.XmlWriterTraceListener"
				initializeData= "ServerTraces.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Server.Service">
				<endpoint address="" binding="wsHttpBinding" contract="Server.IService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8732/Design_Time_Addresses/Server/Service/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
